.experience-box {
    width: 100%;
}

.temp {
    margin-bottom: 3em;
}

.experience__title--img {
    display: flex;
    flex-direction: row;
}

.experience-img {
    display: none;
    margin-left: -15px;
}

@media (min-width: 700px) {
    .experience-img {
        display: block;
    }
}

.gdgws {
    margin-left: 0;
    margin-right: 10px;
}

.experience__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.experience__title h3 {
    font-weight: bold;
    font-size: var(--fs-h3);
    margin: 0;
}

.experience__link {
    font-weight: bold;
    /* color: #ffa800; */
    /* color: #fdfd96; */
}

.tech-stack {
    display: flex;
    flex-direction: row;
    margin-top: -1em;
}

.tech-stack p {
    margin-right: 0.3em;
}
