
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-list--footer {
    display: flex;
    flex-direction: row;
    padding: 0;
}


.social-item {
    display: flex;
    justify-content: center;
    list-style: none;
    /* font-size: var(--fs-h3); */
    padding: 0.8em 0.9em;
}

.social-item i {
    font-size: 1.4em;
}

.footer__text {
    margin: 0;
}

.social-item {
    color: #f0f2f4;
}

.social-item--github {
    background-color: #1aba43;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}

.social-item--linkedin {
    /* background-color: #0495ff; */
    background-color: #0073b1;
}

.social-item--resume {
    background-color: #ffa800;
}

.social-item--email {
    background-color: #ea4c89;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

.footer__text {
    font-size: 0.8em;
    font-weight: 300;
    margin: 1em 0;
}