*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light);
    width: clamp(300px, 85%, 700px);
    margin: 0 auto;
    font-size: 1.15rem;
    line-height: 1.5;
}

:root {
    --ff-primary: "DM Sans", sans-serif;
    --ff-secondary: "Source Sans Pro", serif;

    --clr-light: #fff;
    --clr-dark: #1a1d23;
    --fc-dark: rgba(0, 0, 0, 0.5);
    --fc-darker: rgba(0, 0, 0, 0.8);
    --fc-darkest: #000;
}

section {
    margin: 3em 0;
}

i {
    color: var(--fc-darker);
}

.section-title--project {
    margin: 0 !important;
}

pre {
    background-color: #1a1d23 !important;
    margin: 0 0 25px 0 !important;
}

code {
    background-color: #1a1d23 !important;
}

#theme-indicator:hover {
    cursor: pointer;
}

.experience-link {
    display: flex;
    flex-direction: column;
}

.experience-date--mobile {
    display: none;
}

.experience-link--mobile {
    display: none;
}

@media screen and (max-width: 490px) {
    .experience-link {
        display: none;
    }

    .experience-link--mobile {
        margin-top: 10px;
        display: block;
    }

    .experience-date--mobile {
        display: block;
        color: var(--fc-dark);
        font-style: italic;
    }
}

.english, .hindi {
    line-height: 1 !important;
}

.english {
    margin-bottom: 20px !important;
}

.project-links {
    display: flex;
    flex-direction: row;
    gap: 7px;
}