*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Fonts */

@font-face {
    font-family: 'Jakarta Plus';
    src: url("../fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Jakarta Plus';
    src: url("../fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Jakarta Plus';
    src: url("../fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Jakarta Plus';
    src: url("../fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Jakarta Plus';
    src: url("../fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Jakarta Plus';
    src: url("../fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: block;
}

/* Vars */

:root {
    --ff-primary: 'Jakarta Plus', system-ui, sans-serif;

    --fw-reg: 'normal';
    --fw-bold: 'bold';

    --clr-light: #f0f2f4;
    --clr-dark: #1b1a1a;
    --clr-accent: lightskyblue;

    --fs-h1: 2em;
    --fs-h2: 1.75em;
    --fs-h3: 1.25em;
    --fs-body: 0.9em;

    --br: .5em;
}

@media (min-width: 700px) {
    :root {
        --fs-body: 1.05em
    }
}

/* Animation */

.wave {
    animation-name: wave-animation; 
    animation-duration: 2.5s;       
    animation-iteration-count: 1;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) } 
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) } 
    100% { transform: rotate( 0.0deg) }
  }
  

/* General */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

p {
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 2em 7%;
}

.emoji {
    font-family: "Segoe UI Emoji";
    font-weight: normal; 
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

@media (min-width: 1100px) {
    section {
        padding: 2em 23%;
    }
}