body {
    font-family: var(--ff-primary);
    color: var(--fc-dark-title);
}

p {
    font-family: var(--ff-secondary);
    color: var(--fc-darker);
}

h3 {
    font-family: var(--ff-primary);
}

.section-title {
    font-family: var(--ff-primary);
    color: var(--fc-darkest);
}

.highlighted-text, a {
    font-family: var(--ff-primary);
    font-weight: 500;
}

.highlighted-italics {
    font-style: italic;
}

ul {
    list-style: none;
}

h1, .highlighted-text {
    color: var(--fc-darkest);
}

.section-title--landing {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 2.5rem !important;
    margin: 0 !important;
}

.section-title {
    font-size: 1.8rem;
    margin-bottom: 1em;
}

.tech-stack {
    color: var(--fc-darker);
    margin-bottom: 10px;
}

.byline {
    font-size: 12px;
}

footer {
    text-align: center;
    margin: 4em 0 2em 0;
}

.project-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-title h2 {
    max-width: 75%;
    line-height: 1.3;
}

.color {
    color: var(--fc-darker);
}

.section-subtitle {
    color: var(--fc-darkest);
}

.project-img {
    max-width: 100%;
}

.section-title--about {
    margin-bottom: 15px;
}